@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  font-size: 85%;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 100%;
  }
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 130%;
  }
}

.title {
  display: flex;
  justify-content: center;
  height: 1.5rem;
  margin-top: 3%;
  margin-bottom: 3%;
}
@media screen and (min-width: 600px) {
  .title {
    height: 3rem;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #F2F2F2;
}
.nav__localisation {
  width: 100%;
  background-color: #e5e5e5;
  color: #4c4c4c;
  box-shadow: inset 0 10px 10px -10px #737373;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__localisation__position {
  width: 100px;
}
.nav__localisation__position .search {
  color: black;
  font-weight: bold;
  background-color: #e5e5e5;
  border: #e5e5e5 0px solid;
  box-shadow: 0 0 0;
}
@media screen and (min-width: 1280px) {
  .nav__localisation__position .search {
    font-size: 1em;
  }
}
.nav__localisation__position .search::placeholder {
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1280px) {
  .nav__localisation__position {
    width: 150px;
  }
}
.nav__localisation__icone {
  padding-right: 18px;
}

section h2 {
  margin-left: 5%;
}

a {
  text-decoration: none;
  color: black;
}
a :visited {
  color: black;
  text-decoration: none;
}

.functionalities {
  padding: 5% 0 8% 0;
}
@media screen and (min-width: 600px) {
  .functionalities {
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .functionalities h2 {
    margin-left: 0;
  }
}

.useroptions {
  padding: 0% 4% 0 10%;
}
.useroptions li {
  display: flex;
  align-items: center;
  width: 95%;
  height: 3.75em;
  background-color: #F2F2F2;
  border-radius: 1em/1em;
  margin-bottom: 3%;
  padding: 0;
  box-shadow: 0 0 6px 3px #d2d2d2;
}
@media screen and (min-width: 250px) {
  .useroptions li :active {
    background-color: #e4d4f9;
  }
}
@media screen and (min-width: 1280px) {
  .useroptions li :hover {
    background-color: #e4d4f9;
  }
}
@media screen and (min-width: 1280px) {
  .useroptions li :hover .icone {
    color: #9356DC;
  }
}
@media screen and (min-width: 250px) {
  .useroptions li :active .icone {
    color: #9356DC;
  }
}
.useroptions li a {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 1em/1em;
  align-items: center;
}
.useroptions li a .optionnumber {
  align-items: center;
  background-color: #9356DC;
  border-color: #9356DC;
  color: white;
  font-size: 1em;
  border-radius: 3em/3em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  margin-left: -0.7em;
}
.useroptions li a .icone {
  padding-right: 2em;
  color: #737373;
}
@media screen and (min-width: 600px) {
  .useroptions li {
    width: 55%;
  }
}
@media screen and (min-width: 960px) {
  .useroptions li {
    width: 30%;
    margin-left: 3%;
  }
}
@media screen and (min-width: 1280px) {
  .useroptions li {
    width: 30%;
  }
}
@media screen and (min-width: 600px) {
  .useroptions {
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 960px) {
  .useroptions {
    padding-left: 0;
  }
}
.useroptions li:nth-child(1) {
  margin-left: 0;
}

.maincontainer {
  padding-top: 5%;
  background-color: #f2f2f2;
}
@media screen and (min-width: 600px) {
  .maincontainer__cards {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
}

.restaurantcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 5%;
}
.restaurantcard__picturecard {
  width: 90%;
  height: 10em;
}
@media screen and (min-width: 1280px) {
  .restaurantcard__picturecard {
    height: 20em;
  }
}
.restaurantcard__infos {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
  width: 90%;
  background-color: white;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 0 3px 3px #d2d2d2;
}
.restaurantcard__infos__heading {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding-left: 5%;
  margin-bottom: 0;
}
.restaurantcard__infos__location {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 5%;
  margin-top: 2%;
}
.restaurantcard__infos__icone {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #737373;
}

.restaurantpic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  z-index: 1;
}

.infos__heading {
  margin: 5% 0 0 3%;
}

.infos__location {
  margin: 2% 0 5% 3%;
}

/*# sourceMappingURL=style.css.map */
